{% extends 'DmAdminBundle::layout.html.twig' %}

{% block breabcrumb %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
        <i class="fa fa-dashboard"></i> <a href="{{ path('dashboard')}}">控制台</a>
        </li>
        <li><i class="fa fa-angle-right"></i></li>
        <li>
        <span>轮播图管理</span>
        </li>
    </ul>
</div>
{% endblock %}

{% block content_wrapper -%}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">轮播图列表</span>
                </div>
                <div class="actions">
                    <a href="{{ path('admin_carousel_new') }}" class="btn btn-sm green"><i class="fa fa-plus"></i> 添加新轮播图</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th style="width:10%;">图片</th>
                                <th style="width:10%; text-align:center;">轮播组</th>
                                <th style="width:10%; text-align:center;">排序</th>
                                <th style="text-align:center;">链接</th>
                                <th style="width:10%; text-align:right;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in pagination %}
                            <tr>
                                <td><img src="{{ entity.picture.getWebPath|imagine_filter('admin_list') }}" /></td>
                                <td style="text-align:center;">
                                    <a href="{{ path('admin_carousel', {'group':entity.carouselGroup.id}) }}">
                                        {{ entity.carouselGroup.name }}
                                    </a>
                                </td>
                                <td style="text-align:center;">
                                    <a href="#" class="editable editable-click" 
                                        data-name="sequence" 
                                        data-type="text" 
                                        data-pk="{{ entity.id }}" 
                                        data-url="{{ path('admin_carousel_inline_update', {'id': entity.id} )}}" 
                                        data-title="输入顺序值">{{ entity.sequence }}</a>
                                </td>                            
                                <td style="text-align:center;">{{ entity.link }}</td>
                                <td style="text-align:right;">
                                    <a title="编辑" href="{{ path('admin_carousel_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                                    <a title="删除" href="{{ path('admin_carousel_show', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
