{% extends 'DmThemeBundle::layout.html.twig' %}

{% block breabcrumb %}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
        <i class="fa fa-dashboard"></i> <a href="{{ path('dashboard')}}">控制台</a>
        </li>
        <li><i class="fa fa-angle-right"></i></li>
        <li>
        <span>角色管理</span>
        </li>
    </ul>
</div>
{% endblock %}

{% block content_wrapper -%}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">角色列表</span>
                </div>
                <div class="actions">
                    <a href="{{ path('role_new') }}" class="btn btn-sm green"><i class="fa fa-plus"></i> 添加新角色</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>角色名称</th>
                                <th>角色标识</th>
                                <th>上级角色</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in pagination %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.role }}</td>                            
                                <td>
                                    {% if entity.parent is defined and entity.parent  %}
                                    {{ entity.parent.name }}
                                    {% endif %}
                                </td>                            
                                <td>
                                    <a title="查看" href="{{ path('role_show', { 'id': entity.id }) }}"><i class="fa fa-file-o"></i></a>
                                    <a title="编辑" href="{{ path('role_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                                    <a title="删除" href="{{ path('role_show', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
